    <div class="push"></div>
  </div>
    <footer class="footer">
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <span class="text-muted">
            <i class="fa fa-code" aria-hidden="true"></i>
             Made By Calvin Truong</span>
        </div>
      </div>
    </footer>
  </body>
</html>
