<% include ../partials/header %>

<div class="container">
  <h1 class="title category-title med-margin">Travel</h1>
  <hr class="hr-title">
  <div class="std-margin">
    <form class="form" action="/travel" method="GET">
      <div class="search-bar">
        <div class="input-group">
          <input type="text" class="form-control" name="search" placeholder="e.g. New York...">
          <span class="input-group-btn">
            <button class="btn btn-dark" type="submit">Search</button>
          </span>
        </div>
      </div>
    </form>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% travelPosts.forEach(function(travelPost){ %>
          <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="img-thumbnail">
                  <img src="<%= travelPost.thumb %>">
                  <div class="post-text">
                    <h2><%= travelPost.name %></h2>
                    <a href="/travel/<%= travelPost._id %>" class="more-btn">Read More</a>
                  </div>
              </div>
          </div>
      <% }); %>
    </div>
  </div>

</div>

<% include ../partials/footer %>
