<% include ../partials/header %>
<article>
  <div class="container">
    <h1 class="text-center std-margin title blog-title"><%= travelPost.name %></h1>
    <%- travelPost.htmlContent %>
  </div>
</article>
<% include ../partials/footer %>
