<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1 class="text-center"><strong>404:</strong> Page could not be found.</h1>
    <h4 class="text-center">Click <a href="/">here</a> to go Home</h4>
  </div>
</div>

<% include ../partials/footer %>
